body {
    background-color: #f8f9fa;
    padding-bottom: 60px;
}

.container {
    max-width: 800px;
}

.table th {
    white-space: nowrap;
}

.toast {
    max-width: 350px;
}

/* Responsive adjustments */
@media (max-width: 576px) {
    .table th, .table td {
        padding: 0.5rem;
        font-size: 0.875rem;
    }
    
    h1 {
        font-size: 1.75rem;
    }
}

/* Make sure selects don't overflow on mobile */
.form-select {
    max-width: 100%;
}

#share-btn {
    background-color: #0b5ed7; /* Azul mais escuro */
    border-color: #0b5ed7;
    color: white;
}

#share-btn:hover {
    background-color: #0b5ed7;
    border-color: #0b5ed7;
}